<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pizzk.media.picker">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application>
        <activity
            android:name=".view.PickActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <activity
            android:name=".view.AlbumActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <activity
            android:name=".view.PreviewActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <activity
            android:name=".view.PickChoseActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/PickTranslucentActivity" />
    </application>
</manifest>
